$bg-color : whitesmoke;
$focus-color:#4287f5;
@import url(../scss/agency_fb_fonts.css);
body{
    background-color:#6c706d;
    font-family: 'Agency FB', arial;
    width: 100%;
}
#content{
    margin: 1%;
    margin-top: 13%;
    height: 100%;
    background-color: $bg-color;
    padding-bottom: 2%;
    padding-top: 2%;
}
#title{
    margin-left: 25%;
    color: $focus-color;
    font-size: 2vw;
}
.info{
    margin-left: 25%;
    font-size: 1vw;
}
textarea{
    height: 400px;
}
.input{
    font-family: 'Agency FB', arial;
    margin-top: 1%;
    font-size: 1vw;
    margin-left: 25%;
    width: 50%;
    display: block;
    border: 1px solid $focus-color;
    border-radius: 10px;
    &:focus{
        background-color: $focus-color;
        color: $bg-color;
    }
    &:hover[type="submit"]{
        background-color: $focus-color;
        color: $bg-color;
    }
    
}
